:root {
  --white: #ffffff;
  --lightGray: #F4F4F4;
  --mediumGray: #E9E9E9;
  --gray: #757575;
  --black: #050505;
  --dark: #1F1F1F;
  --medDark: #2D2D2D;
  --lightDark: #3A3A3A;
  --purple: #A445ED;
  --orange: #FF5252;
}

.sansTheme {
  font-family: 'Inter';
}

.serifTheme {
  font-family: 'Lora';
}

.monoTheme {
  font-family: 'Inconsolata';
}

.active {
  display: block;
}

.inactive {
  display: none;
}
/* light theme */


.light .bar {
  background-color: var(--mediumGray);
}

.light .fontChoice {
  color: var(--medDark);
}

.light #fontMenuWrapper {
  color: var(--medDark);
  background-color: var(--white);
}

.light #sansMenu:hover, .light #serifMenu:hover, .light #monoMenu:hover {
  color: var(--purple);
}