:root {
  --white: #ffffff;
  --lightGray: #F4F4F4;
  --mediumGray: #E9E9E9;
  --gray: #757575;
  --black: #050505;
  --dark: #1F1F1F;
  --medDark: #2D2D2D;
  --lightDark: #3A3A3A;
  --purple: #A445ED;
  --orange: #FF5252;
}

.sansTheme {
  font-family: 'Inter';
}

.serifTheme {
  font-family: 'Lora';
}

.monoTheme {
  font-family: 'Inconsolata';
}

.active {
  display: block;
}

.inactive {
  display: none;
}

#thePro p, #sourceHeading p, #theLink a, #errorCopy p {
  font-feature-settings: "clig" 0, "liga" 0;
}

/* light theme */

.light {
  background-color: var(--white);
}

.light .bar {
  background-color: var(--mediumGray);
}

.light .fontChoice {
  color: var(--medDark);
}

.light #fontMenuWrapper {
  color: var(--medDark);
  background-color: var(--white);
}

.light #sansMenu:hover, .light #serifMenu:hover, .light #monoMenu:hover {
  color: var(--purple);
}

.light #fontMenuWrapper {
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.10);
}

.light #termContainer input::placeholder {
  color: var(--medDark);
}

.light #termContainer input {
  background-color: var(--lightGray);
}

.light #inputContainer {
  background-color: var(--lightGray);
}

.light #theWord {
  color: var(--medDark);
}

.light #typeShape {
  background-color: var(--mediumGray);
}

.light #noun {
  color: var(--medDark)
}

.light #defList ul li {
  color: var(--medDark);
}

.light #defList ul li::marker, .light #defVerbList ul li::marker {
  color: var(--purple);
}

.light #verbShape {
  background-color: var(--mediumGray);
}

.light #theLink {
  color: var(--medDark);
}

.light #errorHeading {
  color: var(--medDark);
}

.light #errorCopy {
  color: var(--gray);
}

/* dark theme */

.dark {
  background-color: var(--black);
}

.dark .bar {
  background-color: var(--mediumGray);
}

.dark .fontChoice {
  color: var(--white);
}

.dark #fontMenuWrapper {
  color: var(--white);
  background-color: var(--dark);
}

.dark #sansMenu:hover, .dark #serifMenu:hover, .dark #monoMenu:hover {
  color: var(--purple);
}

.dark #fontMenuWrapper {
  box-shadow: 0px 5px 30px 0px var(--purple);
}

.dark #termContainer input::placeholder {
  color: var(--white);
}

.dark #termContainer input {
  background-color: var(--dark);
}

.dark #inputContainer {
  background-color: var(--dark);
}

.dark #theWord {
  color: var(--white);
}

.dark #typeShape {
  background-color: var(--lightDark);
}

.dark #noun {
  color: var(--white)
}

.dark #defList ul li {
  color: var(--white);
}

.dark #defList ul li::marker, .dark #defVerbList ul li::marker {
  color: var(--purple);
}

.dark #verbShape {
  background-color: var(--lightDark);
}

.dark #theLink {
  color: var(--white);
}

.dark #errorHeading {
  color: var(--white);
}

.dark #errorCopy {
  color: var(--gray);
}